:root{
    --body-color:#EEF5F1;
    --container-color:#B7CDBD;

    --display-color:#31443A;
    --display-text-color:#FFF8FB;

    --number-button-color:#F6EDEF;
    --number-text-color:#2E3B34;

    --operator-button-color:#8EB8A6;
    --operator-text-color:#FFFFFF;

    --danger-button:#D98CA3;
    --button-hover-color:#7FA895;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    background-color: var(--body-color);


    display: flex;
    justify-content: center;
}


.container{
    background-color: var(--container-color);

    width: 600px;
    border: solid black 1px;
    border-radius: 10px;
    margin-top: 10px;
    
    display: flex;
    flex-direction: column;
    padding:10px 15px;

}

.display{
    background-color: var(--display-color);
    border-radius: 8px;
    margin-bottom: 12px;;
    width: 100%;
    padding:16px;
    text-align: end;

    font-size: 48px;
    color: var(--display-text-color);
    

}


button{
    padding: 24px;
    font-size: 24px;
    border-radius: 12px;
    border:0px;
}



.allButtons{
    display: flex;
    flex-direction: row;
    
}

#number button{
    background-color: var(--number-button-color);
    color: var(--number-text-color);
    margin-bottom:5px ;
    margin-right: 5px;
    width: 30%;

}

#number button:hover, #operators button:hover{
    background-color: var(--button-hover-color);
}
#operators{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    

}


#operators button{
    background-color: var(--operator-button-color);
    color: var(--operator-text-color);

    margin-bottom: 5px;;
    width: 49%;
}

#operators .stretch_button{
    width: 100%;
}

#operators :nth-last-child(-n+2){
    background-color: var(--danger-button);
}




.watermark{
    color: gray;
    margin-top: 75px;
    font-size: 12px;
}